/* NavBar */
.navbar-nav a{
  font-size:18px;
}

.search-container{
  margin-left: 300px;
  padding: 100px;
  
  /* display:flex;
  align-items: center; */
}
.search-inner{
  margin: 150;
}

.search-inner-input {
  padding: 10px;
  width: 50%;
  border-color: black;
}

.searchClass{
  padding: 10px;
  background-color: rgb(223, 204, 185);
  border-radius: 5px;
  margin:10px;
  font:black;
 
}

.dropdown{
  width:50%;
}
@media (max-width: 600px) { 

    .search-container {
   
    margin-left: 0;
    
  }
    .search-inner-input {
      width: 70%;
      margin-left: 10px;
    }
    .dropdown{
      width:70%;
      margin-left: 10px;
    }
}